<h1>Subs</h1>
<h3>Categories (Implement this)</h3>
<% if @subs.empty? %>
   <p>Be the first to create a sub!</p>
<% end %>
<% @subs.each do |sub| %>
   <div class="col-md-3">
     <li style='font-size: 18px'><%= link_to sub.title, sub_url(sub) %></li>
   </div>

<% end %>
